body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid gray;
}
.container {
  width: 90vw;
  margin: 5rem auto;
  padding: 3rem 3rem;
  background: #fff;
  border-radius: 5px;
  max-width: 1170px;
  display: grid;
  gap: 1rem 2rem;
}
.question {
  padding: 1.5rem 1rem;
  border: 2px solid #eae6eb;
  margin-bottom: 1rem;
  border-radius: 5px;
  box-shadow:  0 5px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content:space-between;
}
.icon {
  padding: 10px;
}